.login-container {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-login-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.input-login {
    border: 2px solid royalblue;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px;
    width: 260px;
}

.nav-login {
    display: flex;
    flex-direction: column;
}


@media (max-width:640px) {

    /*Pantalla Login*/

    .login-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        width: 100%;
    }

    .input-login {
        border: 2px solid royalblue;
        border-radius: 10px;
        font-size: 16px;
        padding: 10px;
        width: 260px;
    }

}