@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Raleway&display=swap');



@media (max-width:640px) {

    /*Pantalla Login*/

    .container-login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        width: 100%;
    }

    .input-login {
        border: 2px solid royalblue;
        border-radius: 10px;
        font-size: 16px;
        padding: 10px;
        width: 260px;
    }

}