
body {
  display: flex;
  justify-content: center;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-login {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.nav-buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.H2Style {
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 1px;
  margin-top: 40px;
}

.H4Style {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.H3Style {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 20px;
}

.Btn{
  background-color: royalblue;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 20px;
  padding: 10px;
  text-align: center;
  width: 260px;
}

.Btn-second {
  background-color: darkblue;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px;
  text-align: center;
  width: 260px;
}

.Btn-back {
  background-color: darkblue;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px;
  text-align: center;
  width: 200px;
}

.Btn-logut {
  background-color: crimson;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 20px;
  padding: 10px;
  width: 200px;
}




@media (max-width:640px) {

  .nav-buttons {
    align-items: center;
  }

  .H2Style {
      font-size: 24px;
      font-weight: 800;
      letter-spacing: 1px;
  }

  .H4Style {
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 1px;
  }

  .Btn{
      background-color: royalblue;
      border: none;
      border-radius: 10px;
      color: #FFFFFF;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 1px;
      padding: 10px;
      text-align: center;
      width: 260px;
      }
}