
body {
  display: flex;
  width: 100%;
  justify-content: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.H2Style {
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 1px;
}

.H4Style {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.Btn{
  background-color: royalblue;
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 260px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 1px;
  margin: 20px;
}

.Btn-second {
  background-color: darkblue;
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 260px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 1px;
}




@media (max-width:640px) {

  .H2Style {
      font-size: 24px;
      font-weight: 800;
      letter-spacing: 1px;
  }

  .H4Style {
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 1px;
  }

  .Btn{
      background-color: royalblue;
      border: none;
      border-radius: 10px;
      padding: 10px;
      width: 260px;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      color: #FFFFFF;
      letter-spacing: 1px;
      }


}